.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.copy {
  font-size: 1.8rem;
  color: var(--textii);
  width: 40%;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 5rem;
  position: relative;
  border: 1px solid var(--lighterGray);
}

.card:nth-child(even) {
  background-color: var(--lightGray);
}

.index {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.cardTop {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  background-color: var(--tan);
  padding: 2rem;
  border-radius: 15px;
  width: 100%;
  min-height: 310px;
}

.cardTopLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 2rem;
}

.serviceNameHeading,
.price {
  color: var(--black);
  width: 100%;
}

.price {
  width: 100%;
  font-size: 8rem;
  letter-spacing: -1px;
  color: var(--lighterGray);
  -webkit-text-stroke: 1.5px var(--black);
  -webkit-text-fill-color: transparent;
}

.price:nth-child(2) {
  color: var(--lighterGray);
  -webkit-text-stroke: 1.5px var(--black);
  -webkit-text-fill-color: var(--accent);
}

.cardTopRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.descii {
  font-size: 1.8rem;
  letter-spacing: -0.3px;
}

.headline {
  font-family: var(--inter);
  font-size: 1.4rem;
  opacity: 0.6;
}

.serviceName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.check {
  display: inline-grid;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 12px;
}

.servicesCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.serviceCardTopA {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  border-bottom: 1px solid var(--blackii);
  padding-bottom: 2rem;
  width: 100%;
}

.serviceName {
  /* font-size: 1.4rem;
  font-weight: 600; */
  border-bottom: 1px solid var(--gray) !important;
  padding-bottom: 1rem;
  /* font-family: var(--inter); */
  letter-spacing: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: 2rem;
}

.serviceCardTopA .box:last-child .serviceName {
  border-bottom: none !important;
  margin-bottom: 3rem;
}

.serviceCardDots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: -0.5rem;
}

.notice {
  border: 1px solid var(--gray);
  background-color: var(--lightGray);
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 16px;
  width: fit-content;
}

/* .card:nth-child(2) .notice {
  color: var(--tan);
} */

.servicesCardBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding-top: 2rem;
  height: 100%;
}

.desc,
.descriptionMobile {
  width: 80%;
  color: var(--blackii);
}

.descriptionMobile {
  display: none;
  font-size: 1.4rem;
  padding-top: 1rem;
}

.addonSection {
  margin-top: 7rem;
}

.addonSectionTop {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addonsHeading {
  font-size: 2.5rem;
  font-family: var(--PerfectlyNinetiesItalic);
  text-align: center;
}

.addonSectionBottom {
  padding-top: 2rem;
}

.addonSectionTableHeadings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  border-bottom: 1px solid var(--darkGray);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.title,
.titleMobile {
  font-size: 2rem;
  text-transform: none;
  font-family: var(--SuisseIntlMedium);
}

.titleii {
  color: var(--black);
  font-size: 2rem;
}

.titleMobile {
  display: none;
}

.mapData {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.addonSectionBottomContainer {
  border: 1px solid var(--gray);
  /* background-color: var(--darkerTan); */
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card:nth-child(2) .addonSectionBottomContainer {
  border: 1px solid var(--tan);
  /* background-color: var(--darkestTan); */
}

.info {
  color: var(--black);
}

.card:nth-child(2) .titleii,
.card:nth-child(2) .info {
  color: var(--tan);
}

.btnContainer {
  display: grid;
  width: 100%;
  margin-top: auto;
}

.btnContainerii {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1268000px) {
  .serviceCardTopA {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: none;
  }

  .serviceCardTopB {
    display: none;
  }

  .serviceCardDots {
    grid-template-columns: repeat(1, 1fr);
  }

  .servicesCardBottom {
    display: none;
  }

  .serviceName {
    border-bottom: 1px solid var(--blackii);
  }

  .serviceName::after {
    top: 5px;
    left: 0;
  }

  .descriptionMobile {
    display: block;
    width: 100%;
    color: var(--black);
  }

  .addonSection {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1268px) {
  .right {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .copy {
    width: 60%;
  }

  .left {
    position: static;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }
}

@media screen and (max-width: 1068px) {
  .card {
    gap: 3rem;
  }

  .copy {
    width: 80%;
  }

  .cardTop {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .index,
  .btnContainer {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    display: block;
    position: relative;
    top: -2px;
  }
}

@media screen and (max-width: 768px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .index,
  .serviceNameHeading,
  /* .headline, */
  .btnContainer {
    width: 100%;
  }

  .addonSectionTop {
    margin-bottom: 1rem;
  }

  .addonsHeading {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .addonSectionTableHeadings {
    display: none;
  }

  .addonSectionBottomContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .titleMobile {
    display: block;
    /* font-family: var(--SuisseIntlCondensed); */
    /* text-transform: uppercase; */
    font-size: 2rem;
    margin-bottom: 1rem;
    /* color: var(--yellow); */
    /* text-decoration: underline; */
  }

  .info,
  .titleii {
    font-family: var(--SuisseIntlMedium);
    text-transform: none;
    /* color: var(--yellow); */
  }

  /* .info {
    color: var(--white);
  } */

  .titleii {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1.3;
    font-family: var(--SuisseIntlMedium);
    text-transform: none;
    /* color: var(--white); */
  }
}

@media screen and (max-width: 568px) {
  .content {
    gap: 7rem;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 7rem;
  }

  .cardTop {
    gap: 2rem;
  }

  .headline,
  .title {
    width: 95%;
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }

  .copy {
    width: 90%;
  }

  .cardTop {
    min-height: auto;
    grid-gap: 3rem;
  }
}
