.parent {
  background-color: var(--lightGray);
  padding: 1rem;
}

.container {
  padding: 10rem 0rem;
  position: relative;
  background-color: var(--white);
  border-radius: 20px;
}

.cornerContainer {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 3;
  pointer-events: auto;
  width: fit-content;
}

.corner {
  position: relative;
  background-color: var(--lightGray);
  padding: 1rem;
  border-radius: 15px;
  border-top-left-radius: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.corner::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1em -1rem var(--lightGray);
  transform: rotate(0deg);
}

.corner::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: -30px;
  top: 1px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1em -1rem var(--lightGray);
  transform: rotate(0deg);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 1268px) {
  .copy {
    width: 60%;
  }
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 95%;
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }
}
