.container {
  background-color: var(--tan);
  padding-top: 10rem;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 1rem;
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
  margin-bottom: 15rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--lighterTan);
  padding: 3rem;
  border-radius: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  width: 80%;
  text-align: center;
  color: var(--lighterBlack);
}

.imgContainer1 {
  position: relative;
  aspect-ratio: 167 / 250;
  height: 100%;
  transform: scaleX(-1);
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 2rem; */
  gap: 1rem;
}

.qaContainer {
  padding: 2rem;
  background-color: var(--darkerTan);
  border: 1px solid var(--textii);
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.h3Container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayiii);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-left: auto;
  background-color: var(--accent);
  transition: all 0.3s ease-in-out;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
  transform: rotate(45deg);
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: var(--black);
}

.arrowContainer:has(.iconFlip) {
  background-color: var(--accent);
}

/* .arrowContainer .iconFlip {
  background-color: var(--accent);
} */

.question {
  font-size: 1.8rem;
  font-family: var(--DotSansMedium);
  letter-spacing: normal;
}

.answer {
  margin-top: 2rem;
  color: var(--grayii);
  /* width: 90%; */
}

.titleHeading {
  letter-spacing: -5px;
  font-size: 15rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .imgContainer1 {
    height: 150px;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    width: 90%;
  }

  .content {
    gap: 2rem;
  }
}

/* @media screen and (max-width: 568px) {
  .imgContainer1 {
    width: 134px;
    height: 200px;
  }
} */
