/* components/account/AccountNav/AccountNav.module.css */
.nav {
  border: 2px solid var(--lightGray);
  border-radius: 16px;
  padding: 16px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 10px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--black);
  transition: all 0.2s ease-in;
  background-color: var(--tan);
  width: 100%;
}

.linkText {
  font-family: var(--SuisseIntlRegular);
}

.active {
  font-family: var(--SuisseIntlMedium);
  background: var(--lightGray);
}

.link:hover {
  background: var(--lightGray);
}

.icon {
  font-size: 2.5rem;
  color: var(--black);
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .nav {
    min-height: auto;
    gap: 3rem;
  }
  
}
