.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  /* padding-top: 0rem; */
}

.content {
  width: 90%;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--lightGray);
  padding: 2rem;
  border-radius: 20px;
}

.span {
  color: var(--lighterGray);
  -webkit-text-stroke: 1.5px var(--black);
  -webkit-text-fill-color: transparent;
}

.copy {
  color: var(--darkGray);
}

.scrollHorizontalTextContainer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.btnContainer {
  margin-top: 3rem;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
}

.card {
  background-color: var(--darkTan);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  /* color: var(--tan); */
  font-family: var(--DotSansBold);
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

.desc {
  color: var(--lighterBlack);
  font-size: 1.4rem;
}

.copyii {
  font-size: 1.6rem;
  color: var(--darkGray);
  line-height: 1.5;
  width: 80%;
}

@media screen and (max-width: 1268px) {
  .content {
    width: 100%;
    grid-template-columns: 1.5fr 2fr;
  }

  .mapDataContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .imgContainer {
    height: 400px;
  }

  .mapDataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    gap: 5rem;
  }

  .card {
    height: 100%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    margin-top: 1rem;
  }

  .imgContainer {
    height: 300px;
  }

  .rightTop {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyii {
    width: 100%;
  }
}
