.parent {
  background-color: var(--white);
  padding: 1rem;
  padding-top: 0rem;
}

.container {
  border-radius: 20px;
  background-color: var(--lightGray);
  padding: 10rem 0rem;
  position: relative;
}

.cornerContainer {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 3;
  pointer-events: auto;
  width: fit-content;
}

.corner {
  position: relative;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 15px;
  border-top-left-radius: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.corner::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1em -1rem var(--white);
  transform: rotate(0deg);
}

.corner::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: -30px;
  top: 1px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1em -1rem var(--white);
  transform: rotate(0deg);
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-size: 8rem;
  line-height: 1.1;
  letter-spacing: -1px;
  text-align: right;
  margin-left: auto;
}

.revealText {
  color: var(--lightGray);
  filter: drop-shadow(0 0 0.1rem var(--black));
  line-height: 0.9;
}

.leftBottom {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  text-align: center;
}

.subheading {
  font-size: 1.6rem;
  text-align: center;
}

.copyii {
  color: var(--darkGray);
  font-size: 1.4rem;
  max-width: 600px;
  text-align: center;
}

.bottom {
  margin-top: 5rem;
}

@media screen and (max-width: 1268px) {
  .heading {
    font-size: 7vw;
  }
}

@media screen and (max-width: 968px) {
   .heading {
    font-size: 7.5vw;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    text-align: center;
    font-size: 7.6vw;
    letter-spacing: -0.5px;
  }
}
