.parent {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--white);
  padding: 1rem;
}

.container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 10rem;
  border-radius: 20px;
}

.silkBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.heading {
  color: var(--white);
  text-align: center;
}

.headingClip {
  line-height: 0.9;
  font-family: var(--SuisseIntlCondBold);
}

.headingClip * {
  font-family: inherit;
}

.heading {
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  font-family: var(--SuisseIntlCondBold);
  color: var(--white);
}

.heading :global(.word),
.heading :global(.line) {
  font-family: inherit;
}

.copy {
  color: var(--primary);
  max-width: 500px;
  text-align: center;
}

.copyii {
  font-size: 1.4rem;
  max-width: 350px;
  color: var(--lightGray);
  text-align: center;
}

.parallaxAreaContainer {
  position: relative;
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  margin-top: 1rem;
}

