.parent {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--white);
  padding: 1rem;
}

.container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 10rem;
  border-radius: 20px;
}

.silkBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
}

.heading {
  color: var(--white);
}

.copy {
  color: var(--white);
  max-width: 400px;
}

.parallaxAreaContainer {
  position: relative;
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  margin-top: 1rem;
}

@media (max-width: 1068px) {
  .content,
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copy {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .heading {
    text-align: center;
  }
}
