.slider {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.track {
  display: flex;
  gap: 2.5rem;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  flex: 0 0 400px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cardBottom {
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2.4rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.label {
  font-family: var(--SuisseIntlMedium);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.25;
  -webkit-font-smoothing: subpixel-antialiased;
}

.desc {
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  line-height: 1.25;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--lightText);
  white-space: normal;
}

.btnContainer {
  margin-top: 10rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused;
}

@media screen and (max-width: 568px) {
  .track {
    gap: 1rem;
  }

  .card {
    flex: 0 0 300px;
  }

  .imgContainer {
    width: 100%;
    height: 250px;
  }

  .label {
    font-size: 1.05rem;
  }

  .desc {
    font-size: 1.2rem;
  }

  .btnContainer {
    margin-top: 5rem;
  }
}
