.container {
  background-color: var(--lightGray);
  padding: 10rem 0rem;
  position: relative;
}

.content {
  padding-bottom: 10rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}

.topLeft {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.heading {
  max-width: 900px;
}

.copy {
  max-width: 700px;
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
}

.bottom {
  margin-top: 5rem;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  background-color: var(--white);
  /* border: 1px solid var(--black); */
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 10rem;
}

.cardTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.id {
  font-family: var(--SuisseIntlRegular);
  color: var(--lightText);
}

.title {
  /* font-size: 2.5rem;
  letter-spacing: normal; */
  font-family: var(--SuisseIntlMedium);
  letter-spacing: -0.02em;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1.6rem;
  line-height: 1.25;
  text-transform: none;
}

.desc {
  /* font-size: 1.4rem;
  color: var(--darkGray); */
  letter-spacing: -0.01em;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  color: var(--lightText);
  white-space: normal;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.25;
}

.icon {
  background-color: var(--accent);
  border-radius: 50%;
  font-size: 5rem;
  padding: 1.2rem;
  color: var(--black);
  border: 1px solid var(--lighterGray);
  /* display: none; */
}

@media screen and (max-width: 1268px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .sectionIntroContainer,
  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .mapDataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    gap: 7rem;
  }
}

@media screen and (max-width: 568px) {
  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 0rem; */
  }

  .card {
    gap: 5rem;
    align-self: flex-start;
    position: sticky;
    top: 90px;
    border: 1px solid var(--lighterGray);
  }

  .icon {
    font-size: 7rem;
  }

  .imgContainer {
    width: 200px;
    height: 200px;
  }
}
