.container {
  background-color: var(--lightGray);
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.img {
  object-fit: contain;
}

.heading {
  text-align: center;
  width: 60%;
}

.copy {
  text-align: center;
  max-width: 750px;
  color: var(--darkGray);
}

.bottom {
  margin-top: 10rem;
}

.inner {
  width: 100%;
}

.heading {
  text-align: center;
  width: min(60ch, 90%);
  text-wrap: balance;
}

.bottom {
  margin-top: 6rem;
}

.mapBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-left: 6rem; */
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  /* border: 1px solid var(--darkGray); */
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .card:nth-child(2) {
  margin-left: -2rem;
}
.card:nth-child(3) {
  margin-left: -4rem;
}
.card:nth-child(4) {
  margin-left: -6rem;
} */

.cardContent {
  width: 85%;
  max-width: 40ch;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: clamp(0.9rem, 1.2vw + 0.5rem, 1.05rem);
  text-align: center;
}

.title {
  line-height: 1.15;
  font-size: clamp(1.8rem, 1.4vw + 0.6rem, 1.25rem);
  text-wrap: balance;
  font-family: var(--DotSansBold);
  color: var(--lightBlack);
  text-transform: none;
  font-weight: normal;
}

.desc {
  line-height: 1.4;
  text-wrap: pretty;
  font-size: 1.4rem;
  hyphens: auto;
  color: var(--darkGray);
}

@media screen and (max-width: 1268px) {
  .mapBox {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
  }

  .card:nth-child(3) {
    margin-left: 0rem;
    margin-top: -2rem;
  }
  .card:nth-child(4) {
    margin-top: -2rem;
    margin-left: -2rem;
  }
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 100%;
  }

  .imgContainer {
    width: 175px;
    height: 175px;
  }
}

@media screen and (max-width: 380px) {
  .mapBox {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
  }

  .card {
    margin-bottom: -4rem;
  }

  .card:nth-child(2) {
    margin-left: 0rem;
  }
  .card:nth-child(3) {
    margin-left: 0rem;
  }
  .card:nth-child(4) {
    margin-left: 0rem;
  }
}
