.container {
  padding: 15rem 0rem;
  background-color: var(--darkTan);
}

.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 15rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulsingCircles {
  position: absolute;
  width: 304px;
  height: 304px;
  border-radius: 50%;
  z-index: 1;
}

.pulsingCircles::before,
.pulsingCircles::after,
.pulsingCircles div {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--darkestTan);
  top: -4px;
  left: -4px;
  transform: scale(1);
  animation: pulse 2s infinite ease-in-out;
}

.pulsingCircles::before {
  animation-delay: 0s;
}

.pulsingCircles::after {
  animation-delay: 0.5s;
  border: 3px solid var(--darkestTan);
}

.pulsingCircles div {
  animation-delay: 1s;
  border: 4px solid var(--darkestTan);
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--lighterTan);
  border-radius: 50%;
  z-index: 2;
}

.img {
  padding: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.heading {
  color: var(--black);
}

.copy {
  color: var(--text);
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.box {
  background-color: var(--black);
  padding: 3rem;
  border-radius: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media screen and (max-width: 1268px) {
  .bottom,
  .circleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media screen and (max-width: 1068px) { */
  .content {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10rem;
  }

  .heading {
    width: 100%;
    text-align: center;
  }

  .copy {
    max-width: 850px;
  }

  .right {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .heading {
    text-align: center;
  }
/* } */

@media screen and (max-width: 568px) {
  .content {
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 10rem;
  }

  .imgContainer {
    width: 200px;
    height: 200px;
  }

  .pulsingCircles {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
