/* src/components/SectionIntroii/SectionIntroii.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: fit-content;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--lime);
}

.text {
  font-family: var(--DotSansRegular);
  color: var(--black);
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tan {
  color: var(--tan);
}
