/* src/components/SectionIntroii/SectionIntroii.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: fit-content;
  padding-right: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid var(--black);
}

.text {
  font-family: var(--SuisseIntlCondBold);
  color: var(--black);
  font-size: 2rem;
  /* text-align: center; */
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.tan {
  color: var(--primary);
}

.yellow {
  color: var(--accent);
}

.white {
  color: var(--white);
}
