.container {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: var(--lightGray);
}

.content {
  padding: 10rem 0rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
}

.copy {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.3;
  color: var(--darkGray);
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.topRight {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  /* transform: scaleX(-1); */
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1268px) {
  .top {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .topRight {
    order: -1;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    margin-right: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 100%;
    max-width: 900px;
  }
}
