.container {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: var(--lightGray);
}

.content {
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
}

.copy {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.3;
  width: 60%;
  color: var(--darkGray);
}


@media screen and (max-width: 1268px) {
  .top {
    align-items: center;
    text-align: center;
  }
  
  .heading, .copy {
    text-align: center;
  }

  .copy {
    width: 100%;
    max-width: 900px;
  }
}