.container {
  background-color: var(--tan);
  padding: 1rem;
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading,
.copy {
  text-align: center;
}

.copy {
  color: var(--grayii);
}

.imgContainer {
  width: 167px;
  height: 250px;
  transform: scaleX(-1);
}


@media screen and (max-width: 568px) {
  .imgContainer {
    width: 134px;
    height: 200px;
  }
}
