.container {
  background-color: var(--white);
  padding: 20rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
  justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  width: fit-content;
  width: 100%;
}

.heading {
  color: var(--tan);
}

.copy {
  color: var(--darkGray);
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
}

.img {
  object-fit: cover;
}

.right {
  position: relative;
  padding: 3rem;
  background-color: var(--lightGray);
  border-radius: 20px;
}

.mapDataBox {
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}

.card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 5rem;
  padding: 0rem 2rem;
  padding-bottom: 0rem;
  transition: all 0.3s ease-in;
  /* background-color: var(--lightestGray); */
  /* border-radius: 15px; */
}

.title {
  font-size: 2rem;
  font-family: var(--SuisseIntlMedium);
  color: var(--black);
}

.desc {
  font-size: 1.6rem;
  color: var(--darkGray);
  border-left: 1px solid var(--lightText);
  padding-left: 4rem;
  padding-bottom: 7rem;
  position: relative;
}

.desc::before {
  content: "";
  position: absolute;
  left: -6.5px;
  top: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: 50%;
  border: 1px solid var(--lightText);
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftContent {
    align-items: center;
    text-align: center;
  }

  .copy {
    max-width: 550px;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .leftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .title {
    position: relative;
  }

  .title::before {
    content: "";
    position: absolute;
    left: -2.7rem;
    top: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--accent);
    border-radius: 50%;
    border: 1px solid var(--lightText);
  }

  .desc {
    padding-left: 0rem;
    border-left: none;
  }

  .right {
    padding: 3rem 2rem;
  }

  .card {
    border-left: 1px solid var(--lightText);
  }

  .desc::before {
    display: none;
  }

  .imgContainer1 {
    width: 200px;
    height: 200px;
  }
}
