.container {
  padding-top: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  font-size: 6rem;
}

.copy {
  font-size: 1.8rem;
  color: var(--textii);
  width: 40%;
}

.right {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

.card {
  border-radius: 20px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  background-color: var(--lightGray);
}

.index {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: var(--PPNeueMontrealMediumThick);
  letter-spacing: -0.3px;
}

.cardTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}

.cardTopLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.serviceNameHeading {
  width: 100%;
  margin-bottom: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
}

.headline {
  color: var(--darkGray);
  font-size: 1.6rem;
  max-width: 500px;
}
.icon {
  color: var(--black);
  display: none;
}

.servicesCard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.serviceCardTopA {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  border-bottom: 1px solid var(--black);
  padding-bottom: 2rem;
  width: 100%;
}

.serviceName {
  text-transform: none;
  font-family: var(--SuisseIntlMedium);
  font-size: 1.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.serviceCardDots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: -0.5rem;
}

.dot {
  /* position: absolute; */
  /* content: ""; */
  /* left: 0px; */
  /* bottom: -2.6rem; */
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  border-radius: 50%;
}

.servicesCardBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;

  height: 100%;
}

.description {
  font-size: 1.4rem;
}

.desc,
.descriptionMobile {
  width: 80%;
  color: var(--blackii);
}

.descriptionMobile {
  display: none;
  font-size: 1.4rem;
  padding-top: 1rem;
}

.addonSection {
  margin-top: 7rem;
}

.addonSectionTop {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addonsHeading {
  font-size: 2.5rem;
  font-family: var(--PerfectlyNinetiesItalic);
  text-align: center;
}

.addonSectionBottom {
  padding-top: 2rem;
}

.addonSectionTableHeadings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  border-bottom: 1px solid var(--black);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.title,
.titleMobile {
  font-size: 2rem;
  text-transform: none;
  font-family: var(--SuisseIntlMedium);
}

.titleii {
  color: var(--black);
  font-family: var(--inter);
}

.titleMobile {
  display: none;
}

.mapData {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.addonSectionBottomContainer {
  border: 1px solid var(--black);
  padding: 2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.info {
  color: var(--black);
}

.btnContainer {
  display: grid;
  width: 100%;
}

.btnContainerii {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1268px) {
  .content,
  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy {
    width: 60%;
  }

  .left {
    position: static;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }
}

@media screen and (max-width: 1068px) {
  /* .right {
    grid-template-columns: repeat(2, 1fr);
  } */

  .card {
    gap: 3rem;
  }

  .copy {
    width: 80%;
  }

  .card {
    padding: 3rem;
  }

  .cardTop {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .index,
  .btnContainer {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .serviceCardTopA {
    grid-template-columns: repeat(1, 1fr);
    border-bottom: none;
  }

  .serviceCardTopB {
    display: none;
  }

  .serviceCardDots {
    grid-template-columns: repeat(1, 1fr);
  }

  .servicesCardBottom {
    display: none;
  }

  .serviceName {
    border-bottom: 1px solid var(--black);
    padding-bottom: 1rem;
  }

  .serviceName::after {
    top: 5px;
    left: 0;
  }

  .descriptionMobile {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    color: var(--black);
  }

  .addonSection {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .index,
  .serviceNameHeading,
  /* .headline, */
  .btnContainer {
    width: 100%;
  }

  .imgContainer {
    height: 300px;
  }

  .addonSectionTop {
    margin-bottom: 1rem;
  }

  .addonsHeading {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .addonSectionTableHeadings {
    display: none;
  }

  .addonSectionBottomContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .titleMobile {
    display: block;
    /* font-family: var(--SuisseIntlCondensed); */
    /* text-transform: uppercase; */
    font-size: 2rem;
    margin-bottom: 1rem;
    /* color: var(--yellow); */
    /* text-decoration: underline; */
  }

  .info,
  .titleii {
    font-family: var(--SuisseIntlMedium);
    text-transform: none;
    /* color: var(--yellow); */
  }

  /* .info {
    color: var(--white);
  } */

  .titleii {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1.3;
    font-family: var(--SuisseIntlMedium);
    text-transform: none;
    /* color: var(--white); */
  }
}

@media screen and (max-width: 568px) {
  .content {
    gap: 7rem;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardTop {
    gap: 2rem;
  }

  .headline,
  .title {
    width: 95%;
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }

  .copy {
    width: 90%;
  }
}
