:root {
  --black: #242422;
  --white: #ffffff;
  --primary: #efe4d4;
  --accent: #ffc809;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* line-height: 90%; */
  /* scroll-behavior: smooth;
  scroll-margin-top: 40px;
  */
  -webkit-tap-highlight-color: transparent;
  font-family: var(--SuisseIntlRegular);
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--SuisseIntlCondBold);
  color: var(--black);
  hyphens: auto;
  text-transform: uppercase;
  /* line-height: 0.9; */
}

h1 {
  font-size: 7vw;
  line-height: 95%;
  letter-spacing: -3.5px;
  font-weight: 500;
}

h2 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 0.9;
  text-transform: uppercase;
}

h3,
h4 {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 0.9;
}

h5 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 0.9;
}

h6 {
  font-size: 2.8rem;
  letter-spacing: -0.02em;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  hyphens: auto;
  font-size: 2rem;
  /* line-height: 1.3; */
  font-family: var(--SuisseIntlRegular);
  text-transform: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/* .toastFont {
  font-family: var(--ABCSocialLight);
} */

/* ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

::selection {
  background: var(--accent);
  color: var(--black);
}
::-moz-selection {
  background: var(--accent);
  color: var(--black);
}

@media screen and (max-width: 968px) {
  html {
    font-size: 55%;
  }

  /* h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4rem;
  } */

  /* h1 {
    font-size: 9vw;
  } */

  /* h2 {
    font-size: 6rem;
  } */

  p {
    font-size: 113.7%;
  }
}

@media screen and (max-width: 768px) {
  /* h1 {
    font-size: 14vw;
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }

  h1,
  h2 {
    letter-spacing: -1.4px;
    font-size: 13vw;
  }
}

/* .toastFont {
} */

/* Only use in production */
@media screen and (max-width: 480px) {
  h1 {
    letter-spacing: -2px;
  }
  h2 {
    letter-spacing: -2px;
    line-height: 110%;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
/* 
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background: url("/images/noise.gif") repeat;
  opacity: 0.03;
} */
