.container {
  background-color: var(--tan);
  padding-top: 10rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
  background-color: var(--darkTan);
  padding: 2rem;
  border-radius: 15px;
}

.leftTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  width: 100%;
}

.heading {
  font-size: 2rem;
  font-family: var(--DotSansBold);
  letter-spacing: -0.5px;
}

.subHeadingii {
  font-size: 2rem;
  font-family: var(--DotSansBold);
  letter-spacing: -0.5px;
  font-family: var(--DotSansBold);
  color: var(--darkaccent);
  letter-spacing: -0.5px;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.subHeading {
  font-size: 2rem;
}

.stat {
  font-size: 8rem;
  font-family: var(--Merriweather);
  letter-spacing: -3px;
}

.right {
  border-radius: 15px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

/* squareCircle.svg */

.rightTwo {
  background-color: var(--accent);
  padding: 3rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15rem;
}

.rightTwoA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.SectionIntroContainer {
  display: grid;
  width: 100%;
  background-color: rgba(36, 36, 34, 0.1);
  padding: 1rem 2rem;
  border-radius: 50px;
  text-align: center;
}

.icon {
  font-size: 10rem;
  width: 100%;
  /* opacity: 0.2; */
  color: rgba(36, 36, 34, 0.1);

  margin-top: 3rem;
}

.rightTwoB {
  width: 100%;
}

.mapDataContainer {
  list-style: none;
  margin-top: 5rem;
  width: 100%;
}

.card {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--darkaccent);
  font-size: 1.6rem;
  font-family: var(--DotSansBold);
  color: var(--darkaccent);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.arrow {
  color: var(--darkaccent);
  transform: rotate(45deg);
}

/* @media screen and (max-width: 1468px) {
  .content {
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
} */

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .left {
    gap: 3rem;
  }

  .middle {
    order: 3;
    grid-column: span 2;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .middle {
    order: 2;
    grid-column: span 1;
    height: 300px;
  }

  .imgContainer {
    height: 300px;
  }

  .rightTwo {
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 275px;
  }

  .rightTwo {
    gap: 0rem;
  }

  .mapDataContainer {
    margin-top: 2rem;
  }
}
