.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.illustrationContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.illustration {
  object-fit: contain;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
  /* padding: 2rem; */
}

.leftTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  width: 100%;
}

.copy {
  color: var(--darkGray);
  max-width: 550px;
  text-align: center;
}

.subHeadingii {
  font-size: 1.6rem;
}

.leftBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.subHeading {
  font-size: 2rem;
}

.stat {
  font-size: 8rem;
  font-family: var(--Merriweather);
  letter-spacing: -3px;
}

.right {
  border-radius: 15px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

/* squareCircle.svg */

.rightTwo,
.rightTwoii {
  background-color: var(--accent);
  padding: 3rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  height: 100%;
}

.rightTwoii {
  background-color: var(--lightGray);
}

.rightTwoA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.SectionIntroContainer {
  display: grid;
  width: 100%;
  background-color: rgba(36, 36, 34, 0.1);
  padding: 1rem 2rem;
  border-radius: 50px;
  text-align: center;
}

.icon {
  font-size: 10rem;
  width: 100%;
  color: rgba(36, 36, 34, 0.1);

  margin-top: 3rem;
}

.rightTwoB {
  width: 100%;
}

.mapDataContainer {
  list-style: none;
  margin-top: 5rem;
  width: 100%;
}

.card {
  padding: 1rem 0rem;
  border-bottom: 1px solid var(--accent600);
  font-size: 1.6rem;
  /* color: var(--accent600); */
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

.rightTwoii .card {
  border-bottom: 1px solid var(--darkGray);
  color: var(--darkGray);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .left {
    gap: 3rem;
  }

  .middle {
    order: 3;
    grid-column: span 2;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .middle {
    order: 2;
    grid-column: span 1;
    height: 300px;
  }

  .imgContainer {
    height: 300px;
  }

  .rightTwo {
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 175px;
    height: 175px;
  }

  .imgContainer {
    height: 275px;
  }

  .rightTwo {
    gap: 0rem;
  }

  .mapDataContainer {
    margin-top: 2rem;
  }
}
