.container {
  background-color: var(--tan);
  padding-block: 5rem;
}

.top {
  margin-bottom: 3rem;
}

.heading {
  text-align: center;
}

.bottom {
  border-radius: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  min-height: 250px;
  position: relative;
  background-color: var(--darkTan);
  border: 1px solid var(--gray);
}

.card:nth-child(3) {
  grid-column: span 2;
  padding: 0rem;
  border: none;
  border-top-right-radius: 2rem;
}

.card:nth-child(4) {
  grid-column: span 2;
  background-color: var(--lightBlack);
  padding: 0rem;
  border-bottom-left-radius: 2rem;
}

.title,
.strong {
  font-size: 1.6rem;
  font-family: var(--DotSansBold);
  letter-spacing: 0.01px;
  font-weight: 600;
  color: var(--black);
}

.desc {
  font-size: 1.4rem;
  color: var(--grayii);
}

.card:nth-child(4) .desc {
  font-family: var(--DotSansBold);
  font-size: 2rem;
  color: var(--accent);
  padding: 3rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: 2rem;
  overflow: hidden;
  grid-column: span 2;
  border: none;
}

.img {
  object-fit: cover;
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .bottom {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .mapDataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(4) {
    order: 999;
    border-bottom-right-radius: 2rem;
  }

  .imgContainer {
    border-top-right-radius: 0rem;
  }

  .card:nth-child(4) .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    border-bottom: 1px solid var(--gray);
    min-height: 200px;
  }

  .card:nth-child(4) {
    min-height: 200px;
    padding: 2rem;
  }

  .card:nth-child(4) .desc {
    width: 100%;
  }

  .card:nth-child(3),
  .card:nth-child(4) {
    grid-column: span 1;
  }

  .card:nth-child(1),
  .card:nth-child(5) {
    border-right: none;
  }
}
