/* .parent {
  background-color: var(--white);
  padding: 1rem;
} */

.container {
  background-color: var(--lightGray);
  padding: 10rem 0rem;
}

.top {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading,
.copy {
  text-align: center;
}

.copy {
  color: var(--darkGray);
}

.bottom {
  border-radius: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 2rem; */
  padding: 2rem;
  min-height: 250px;
  position: relative;
  background-color: var(--white);
  /* border: 1px solid var(--gray); */
}

.card:nth-child(1) {
  border-top-left-radius: 2rem;
}

.card:last-child {
  border-bottom-right-radius: 2rem;
}

.card:nth-child(3) {
  grid-column: span 2;
  padding: 0rem;
  border: none;
  border-top-right-radius: 2rem;
}

.card:nth-child(4) {
  grid-column: span 2;
  /* background-color: var(--accent); */
  padding: 0rem;
  background-color: transparent;
  border-bottom-left-radius: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.id {
  font-size: 3rem;
}

.title {
  font-size: 1.8rem;
  font-family: var(--SuisseIntlMedium);
  text-transform: none;
  font-weight: normal;
}

.desc {
  font-size: 1.4rem;
  color: var(--gray);
}

.card:nth-child(4) .desc {
  font-size: 3rem;
  /* width: 90%; */
  font-family: var(--SuisseIntlCondBold);
  color: var(--black);
  /* color: var(--accent); */
  /* padding: 3rem; */
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-right-radius: 2rem;
  overflow: hidden;
  grid-column: span 2;
  border: none;
}

.img {
  object-fit: cover;
}

.btnContainer {
  display: grid;
  width: 100%;
}

.illustrationContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.illustration {
  object-fit: contain;
}

@media screen and (max-width: 1268px) {
  .bottom {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .mapDataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(4) {
    order: 999;
    border-bottom-right-radius: 2rem;
    display: none;
  }

  .imgContainer {
    border-top-right-radius: 0rem;
  }

  .card:nth-child(4) .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
  }

  .illustrationContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 568px) {
  .mapDataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    border-bottom: 1px solid var(--gray);
    min-height: 200px;
  }

  .card:nth-child(4) {
    min-height: 200px;
    padding: 2rem;
  }

  .card:nth-child(4) .desc {
    width: 100%;
  }

  .card:nth-child(3),
  .card:nth-child(4) {
    grid-column: span 1;
  }

  .card:nth-child(1),
  .card:nth-child(5) {
    border-right: none;
  }

  .illustrationContainer {
    position: relative;
    width: 200px;
    height: 200px;
  }
}
