.container {
  background-color: var(--tan);
  padding-bottom: 7rem;
  padding-top: 10rem;
  /* padding: 20rem 0rem; */
}

.black {
  background-color: transparent;
  padding: 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.tan {
  color: var(--tan);
}

.imgContainer {
  position: relative;
  width: 55px;
  height: 55px;
  border: 1px solid var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  padding: 0.3rem;
  object-fit: cover;
  border: 1px solid var(--gray);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.heading {
  text-align: center;
  max-width: 850px;
  font-size: 2.5rem;
  letter-spacing: -1px;
}

.copy {
  text-align: center;
}

/* @media screen and (max-width: 1268px) {
  .heading {
    width: 90%;
    font-size: 3.5rem;
  }
} */

/* @media screen and (max-width: 768px) {
  .heading {
    width: 95%;
    font-size: 2.8rem;
  }
} */

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: -0.01px;
  }
}
