.container {
  /* padding: 10rem 0rem; */
  /* padding-bottom: 10rem; */
  background-color: var(--tan);
}

.top {
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.btnContainer {
  margin-top: 2rem;
}

.bottom,
.bottomRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
  }
  
  .bottomRight {
    grid-template-columns: repeat(1, 1fr);
  }
}
