.container {
  position: relative;
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}

.content {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 4rem 0;
  z-index: 10;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 5;
}

.contentChildren {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
  padding: 2rem;
  height: 100%;
}

.heading {
  color: white;
  font-size: clamp(3rem, 10vw, 8rem);
  font-size: 10vw;
  line-height: 1;
  letter-spacing: -3px;
  font-weight: 500;
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-bottom: 5rem;
}

.img {
  object-fit: contain;
  transform: scaleX(-1);
}

.bottom {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 3rem;
}

.copy {
  color: var(--white);
  max-width: 400px;
}

.dataBox {
  list-style: none;
}

.title {
  color: var(--white);
  font-size: 2rem;
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: right;
  padding: 1rem 0rem;
}

.index {
  display: block;
  color: var(--white);
}

@media screen and (max-width: 1268px) {
  .contentChildren {
    grid-gap: 2rem;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .imgContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .dataBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1068px) {
  .dataBox {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 15vw;
    letter-spacing: -0.5vw;
  }
}

@media screen and (max-width: 568px) {
  .contentChildren {
    padding: 1rem;
  }
  
  .imgContainer {
    width: 200px;
    height: 200px;
  }
}
