.parent {
  background-color: var(--tan);
}

.container {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.7), rgba(10, 7, 27, 0.7));
  border-radius: 20px;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.content {
  position: relative;
  z-index: 3;
  margin: 5rem;
  margin-left: auto;
  width: 45%;
  flex: 2;
  background-color: var(--darkTan);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.heading {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--white);
}

.copy {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.5;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--lighterGray);
  padding-bottom: 1rem;
  width: 100%;
}

.card:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
}

.bulletPoint {
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.title {
  color: var(--lightGray);
  font-size: 1.4rem;
}

@media screen and (max-width: 1268px) {
  .content {
    width: 60%;
  }
}

@media screen and (max-width: 868px) {
  .content {
    width: 100%;
    /* margin: 4rem 2rem; */
    padding: 5rem;
    margin: 0rem;
  }

  .mapDataContainer {
    align-items: flex-start;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 3rem;
  }
}
