.bottom {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
}

.btnContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1068px) {
  .bottom  {
    grid-template-columns: repeat(2, 1fr);
  } 
}


@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: 1fr 1fr;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: 1fr;
  }
}
