.parent {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--white);
  padding: 1rem;
}

.container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 10rem;
  border-radius: 20px;
  height: calc(100vh - 2rem);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--black);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

.silkBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  min-height: 90vh;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.heading {
  text-align: right;
}

.headingClip {
  line-height: 0.9;
  font-family: var(--SuisseIntlCondBold);
}

.headingClip * {
  font-family: inherit;
}

.heading {
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  font-family: var(--SuisseIntlCondBold);
  color: var(--white);
}

.heading :global(.word),
.heading :global(.line) {
  font-family: inherit;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--lightGray);
  padding-top: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.copy {
  z-index: 2;
  font-size: 2rem;
  letter-spacing: -0.3px;
  width: 40%;
  color: var(--lightGray);
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 0;
  margin-top: 1rem;
}

@media (max-width: 1068px) {
  .content,
  .top,
  .bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copy {
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .heading {
    text-align: center;
  }
}

@media (max-width: 568px) {
  .copy {
    width: 100%;
  }

  .btnContainer {
    flex-direction: column;
    gap: 3rem;
  }
}
