.container {
  background-color: var(--lightGray);
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 5rem;
}

.copy {
  max-width: 600px;
}

.bottom {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-gap: 0.5rem;
}

.bottomLeft {
  background-color: var(--lighterGray);
  padding: 1rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 1rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.details1 {
  background-color: var(--black);
  border-radius: 15px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.detailsTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
}

.details1 .subheading {
  color: var(--lightGray);
  text-align: center;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  width: 100%;
}

.item {
  color: var(--lighterGray);
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  padding-bottom: 1rem;
}

.item:nth-last-child(1) {
  border-bottom: none;
}

.icon {
  color: var(--accent);
}

.btnContainer {
  display: grid;
  width: 100%;
}

.bottomRight {
  padding: 1rem;
}

.details2 {
  background-color: var(--lighterGray);
  border-radius: 15px;
  padding: 3rem 2rem;
  height: 100%;
}

.details2 .subheading {
  color: var(--black);
  text-align: center;
}

.details2 .item,
.details2 .icon {
  color: var(--black);
}

.closeIcon {
  width: 3rem;
  height: 3rem;
}
