/* components/account/SettingsForms/SettingsForms.module.css */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.card {
  border-bottom: 2px solid var(--lightGray);
  padding-bottom: 1rem;
}

.card:last-child {
  border-bottom: none;
}

.heading {
  font-size: 3rem;
  font-family: var(--SuisseIntlMedium);
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
}

.inputLabelBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.label {
  color: #6b7280;
}

.input {
  border: 1px solid var(--lighterGray);
  border-radius: 5px;
  padding: 10px 12px;
  font: inherit;
}
.primaryBtn {
  background: #111827;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.warnBtn {
  background: #b91c1c;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.secondaryBtn {
  background: #eef2ff;
  color: #1e40af;
  border: none;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.help {
  color: #6b7280;
  margin: 0;
}
@media (max-width: 968px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
