.parent {
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--white);
  padding: 1rem;
}

.container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 10rem;
  border-radius: 20px;
}

.silkBg {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.heading {
  color: var(--white);
}

.headingClip {
  line-height: 0.9;
  font-family: var(--SuisseIntlCondBold);
}

.headingClip * {
  font-family: inherit;
}

.heading {
  will-change: transform, opacity, filter;
  overflow: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  font-family: var(--SuisseIntlCondBold);
  color: var(--white);
}

.heading :global(.word),
.heading :global(.line) {
  font-family: inherit;
}

.copy {
  color: var(--primary);
  max-width: 600px;
}

.parallaxAreaContainer {
  position: relative;
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  margin-top: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.subheading {
  color: var(--lightGray);
  font-size: 1.6rem;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border-bottom: 1px solid var(--lighterGray);
  padding-bottom: 1rem;
  width: 100%;
}
/* 
.card:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
} */

.bulletPoint {
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.title {
  color: var(--lightGray);
  font-size: 1.4rem;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .subheading {
    max-width: 500px;
  }
}

@media (max-width: 1068px) {
  .content,
  .top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .copy {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 2rem;
  }

  .heading {
    text-align: center;
  }
}
