/* app/account/AccountLayout.module.css */
.container {
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.shell {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  gap: 24px;
  align-items: start;
}

.sidebar {
  position: sticky;
  top: 24px;
  height: 100%;
}

.content {
  min-width: 0;
}

@media screen and (max-width: 1268px) {
  .shell {
    grid-template-columns: 1.5fr 4.5fr;
  }
}

@media screen and (max-width: 1068px) {
  .shell {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
    top: auto;
    /* margin-bottom: 2rem; */
  }
}
