.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15rem;
  height: 100%;
}

.imgContaineri {
  position: relative;
  width: 350px;
  height: 350px;
}

.illustration {
  object-fit: contain;
}

.imgContainerii {
  position: relative;
  width: 80%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
  height: 100%;
}

.rightTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  width: 100%;
}

.btnContainer {
  margin-top: 2rem;
}

.card {
  border-top: 1px solid var(--gray);
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.title {
  font-family: var(--DotSansBold);
  font-size: 2rem;
  letter-spacing: -0.5px;
}

.desc {
  color: var(--lightBlack);
}
